{% extends 'base.html.twig' %}

{% block title %}Client index{% endblock %}

{% block body %}
    <h1>Client index</h1>

    <table class="table">
        <thead>
            <tr>
              
                <th>Id_client</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Num_tel</th>
                <th>Adresse</th>
                <th>Sexe</th>
                <th>Mail</th>
                <th>Password</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                
               <td>{{ client.Id_client }}</td>
                <td>{{ client.nom }}</td>
                <td>{{ client.prenom }}</td>
                <td>{{ client.numTel }}</td>
                <td>{{ client.adresse }}</td>
                <td>{{ client.sexe }}</td>
                <td>{{ client.mail }}</td>
                <td>{{ client.password }}</td>
                <td>
                    <a href="{{ path('app_client_show', {'Id_client': client.getId_client()}) }}">show</a>
                    <a href="{{ path('app_client_edit', {'Id_client': client.getId_client()}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_client_new') }}">Create new</a>
{% endblock %}
